
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


@*//caroselo picutre*@
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url('../../images/bg_5.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 ftco-animate">
                    <h1 class="mb-3">Our Purpose:</h1>
                    <p>Our goal is to marketing and selling airline tickets / vacation packages in Israel or abroad.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image: url('../../images/bg_4.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 ftco-animate">
                    <h1 class="mb-3"> The Motto: </h1>
                    <p>
                        Our motto is to give opportunity to people who want to sell or buy airline tickets or packages
                        Resort and link the two sides so they can make the deal.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image: url('../../images/bg_3.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 ftco-animate">
                    <h1 class="mb-3">Main field of activity:</h1>
                    <p>
                        Our company deals in selling airline tickets at discounted prices, the company connects between a person who wants to sell
                        His ticket and a person who wants to buy a plane ticket at a discount.
                        We create a convenient, secure and secure platform for both parties to the deal.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 promo ftco-animate">
                <a href="#" class="promo-img mb-4" style="background-image: url(../../images/yaniv.jpg);"></a>
                <div class="text text-center">
                    <h2>Yaniv Aytegev</h2>
                    <h3 class="price"> CTO</h3>
                    <span>num: 053-332795</span><br />
                    <span>Email: yaniv32165@gmail.com</span>
                </div>
            </div>
            <div class="col-lg-4 promo ftco-animate">
                <a href="#" class="promo-img mb-4" style="background-image: url(../../images/naruto.jpg);"></a>
                <div class="text text-center">
                    <h2>Guy Yaakov</h2>
                    <h3 class="price">Full-stack developer</h3>
                    <span>num: 052-6484503</span><br />
                    <span>Email: Guyyaakov1@gmail.com</span>
                </div>
            </div>
            <div class="col-lg-4 promo ftco-animate">
                <a href="#" class="promo-img mb-4" style="background-image: url(../../images/mmmaor.jpg);"></a>
                <div class="text text-center">
                    <h2>Maor Worko</h2>
                    <h3 class="price">Full-stack developer</h3>
                    <span>num: 052-6880813</span><br />
                    <span>Email: maaoor6@gmail.com</span>
                </div>
            </div>

        </div>
    </div>
</section>




<div class="text-center">
    <div class="text-center">

        <h2>About</h2>
        <center>
            <p style="font-size:medium" class="col-4">
                You have found yourself brushing on the prices of your tourists. Our site offers a selection of flights at very good prices.
                You can find flights to Rome, Paris, London, Amsterdam and more. Traffic to the sand is a real experience for a couple, a family or a group of friends and friends.
                Sign in to a destination now and book the flight you need. Flights are only booked on the Blik Tourism website

            </p>
        </center>
    </div>
</div>
<br />
<br />
