
@{
    ViewBag.Title = "contact";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url('../../images/bg_5.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 ftco-animate">
                    <h1 class="mb-3">Contact</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END slider -->
<section class="ftco-section contact-section">
    <div class="container">
        <div class="row block-9 mb-4">
            <div class="col-md-6 pr-md-5 flex-column">
                <div class="row d-block flex-row">
                    <h2 class="h4 mb-4">Contact Information</h2>
                    <div class="col mb-3 d-flex py-4 border" style="background: white;">
                        <div class="align-self-center">
                            <p class="mb-0"><span>Address:</span>Lod King Shlomo 5/7 </p>
                        </div>
                    </div>
                    <div class="col mb-3 d-flex py-4 border" style="background: white;">
                        <div class="align-self-center">
                            <p class="mb-0"><span>Phone:</span> <a href="tel://0533327951">+ 0533327951</a></p>
                        </div>
                    </div>
                    <div class="col mb-3 d-flex py-4 border" style="background: white;">
                        <div class="align-self-center">
                            <p class="mb-0"><span>Email:</span> <a href="mailto:pedrofilim15@gmail.com">pedrofilim15@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="col mb-3 d-flex py-4 border" style="background: white;">
                        <div class="align-self-center">
                            <p class="mb-0"><span>Website</span> <a href="#">PedroFlights.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <form action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12" id="map">
                <a href="https://maps.google.com/?ll=latitude,longitude"></a>
            </div>
        </div>
    </div>
</section>




